# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

*.iml
*.ipr
*.iws
.idea/

.vscode/

**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/
/coverage/

app.*.symbols
app.*.map.json

/android/
lib/firebase_options.dart

analysis_options.yaml
.metadata
firebase.json
firepit-log.txt
pubspec.lock
